.general {
    text-align: center;
    margin: 0 auto;
    width: 400px;
    background-color: darkcyan;
    border-style: solid;
    padding: 10px;
}

.counter {
    border-style: solid;
    font-size: 50px;
    background-color: darkcyan;
    width: 300px;
    margin: 0 auto;
}